<% provide(:title, 'About') %>

<div id="about">
  <h1>About me</h1>
  <%= image_tag("Profile.jpg", id: "profile") %>
  <p>
    I am an undergraduate at Yale University (ES '16, GFM) majoring in Molecular, Cellular, and Developmental Biology (MCDB if you want to be less obnoxious about it). Some of my academic interests include immunology, web development, and music.
  </p>
  <p>
    When I'm not busy keeping chairs warm in the library, I enjoy fiddling on my violin and messing around on the piano. I've found myself addicted to the various Steinways scattered around campus: the supple resistance provided by each of the pianos' actions makes me feel like I'm creating music by playing with the world's best putty. I also enjoy cooking, watercolors, and hanging out with friends.
  </p>
  <p id="last">
    My name is Alex by the way. Welcome to my blog.
  </p>
</div>
