<% provide(:title, 'Archive') %>
<h2 class="date" id="firstYear">2014</h2>
<h2 class="date">May</h2>
<div class="articleContainer cl-effect-1">

<a href="/genre_of_the_sentence" class= "articleLink">Genre of the Sentence</a>
<a href="/dracula_mice" class= "articleLink">Dracula Mice</a>

</div>