<% provide(:title, 'Food') %>
<h1>On Food</h1>
<p>
  Food is the best. This is where I will share with you my (carefully curated) log of successful dishes, as well as anything particularly interesting or delicious I put in my mouth.
</p>
