<h1>Welcome</h1>
<p>
  Feel free to poke around. The existence of this blog doesn't mean I think that my thoughts are anything special; it's more of a rhetorical exercise than anything else. I hope to improve my writing, document my experiences, and work on web design. I've tried to keep my website as clean and minimal as possible to reflect these goals.
</p>
<p>
  But if you happen to enjoy what I write about, then feel free to join me - I plan to learn a lot, and hope you can learn something too.
</p>