<% provide(:title, 'Science') %>
<h1>On Science</h1>
<p>
  Popular science articles are one of my favorite news articles to read. Whether it's from Imgur's <a href="http://imgur.com/gallery/CdMokwb">This Week in Science</a> or an article I find on my <a href="https://flipboard.com/">Flipboard</a>, I hope to share with you some of the more exciting bits I find.
</p>

<h2 class="date">2014</h2>
<h2 class="date">May</h2>
<div class="articleContainer cl-effect-1">

<a href="/fresh_blood" class= "articleLink">Fresh Blood</a>
</div>