<% provide(:title, 'Science') %>
<h1>On Science</h1>
<p>
  Popular science articles are one of my favorite news articles to read. Whether it's from Imgur's <a href="http://imgur.com/gallery/CdMokwb">This Week in Science</a> or an article I find on my <a href="https://flipboard.com/">Flipboard</a>, I hope to share with you some of the more exciting bits I find.
</p>