<% provide(:title, 'Travel') %>
<h1 id="pageHead">Casual Curios: Taiwan</h1>
<p class="articleDate">
  June 8th, 2014
</p>
<h2 class="sectionHead">"How long is this tunnel?"</h2>
<p>
  At 12.94 km (8 miles), the Hsuehshan Tunnel is the 2nd longest tunnel in East Asia, and the 5th longest in the world, built to connect the eastern and western coasts of Taiwan. Driving through took 9 minutes 33 seconds; would not recommend holding breath throughout. After an accident left a huge pileup with fire and shit, they actually set up dedicated tunnel radio stations, which I thought was pretty cool. These tunnel radio stations inform drivers of accidents ahead, as well as reminding drivers to follow traffic rules.
</p>
<h2 class="sectionHead">Addressing Tax Evasion (with gambling)</h2>
<p>
  Okay so the title might be a bit misleading: you don't really bet any money, but you can make up to $342,000. To prevent tax evasion, the Taiwanese government implemented a receipt lottery in 1951. Each receipt has an 8-digit number, which is matched to a winning number every 25th of odd-numbered months in a flashy television program. This state-sanctioned lottery makes it so that customers actively ask for receipts tracked by the government, preventing tax evasion: a pretty neat solution to those sneaky cash-only restaurants in Chinatown. This "game" increased tax collections by 75% the first year it was implemented. One downside: every billion receipts use around 10,000 trees. Currently, 11.5 billion receipts are printed every year. To save trees, the government is phasing in e-receipts.
</p>
<h2 class="sectionHead">Garbage Trucks and Beethoven</h2>
<p>
  To prevent vermin and odors in outdoor trash disposal areas, taking out the trash in Taiwan has become a social event. People come out and gather around the truck with two bags to throw away: one trash and one recycling. To announce each trucks arrival, obnoxious ice cream truck music is used, the standard being Beethoven's Fur Elise. Apparently, the former head of the Department of Health had a daughter who was learning piano. Upon hearing Fur Elise being practiced again and again, <a href="http://culture.tw/index.php?option=com_content&task=view&id=1011&Itemid=157">he decided it was great "garbage music".</a>
</p>
<p id="video"><iframe width="560" height="315" src="//www.youtube.com/embed/DRvgmLLlhp0" frameborder="0" allowfullscreen></iframe></p>
<h2 class="sectionHead">Miscellaneous</h2>
<p>
  1. Tipping is not required. <br>
  2. Haggling is. <br>
  3. After drinking good tea, people will get a "dry-sweet" feeling/taste in their throats. According to one tea-grower I talked to, this is from insects eating bits of tea leaves. The only explanation I could think of was that these insects were actually pollinating the leaves, making them slightly sweet.
</p>

<%= render 'layouts/articlefooter'   %>
