<h1>On Travel</h1>
<p>
  I plan to go abroad in the future. This is where I will record experiences I find curious or noteworthy.
</p>
<h2 class="date">2014</h2>
<h2 class="date">June</h2>
<div class="articleContainer cl-effect-1">

<a href="/genre_of_the_sentence" class= "articleLink">Casual Curios: Taiwan</a>
</div>