<% provide(:title, 'Writing') %>
<h1 id="pageHead">Genre of the Sentence</h1>
<p class="articleDate">
  May 18th, 2014
</p>
<div class="quotation">
<p>
  What we're working on precedes genre. For our purposes, genre is meaningless.
  It's a method of shelving books and awarding prizes <br>
  ... <br>
  I'm interested in the genre of the sentence,
  the genre that's always overlooked.
  Many writers seem to believe we live in a universe of
  well-defined literary forms:
  the memoir, the profile, the feature, the first novel,
  the book proposal <br>
  ... <br>
  Writers worry about these shapes and their dictates long before they're able to make sentences worth reading.<br>
  (Pg. 14-15)
</p>
</div>
<p>
  Klinkenborg's <a href="http://www.amazon.com/Several-Short-Sentences-Writing-Vintage/dp/0307279413">"Several Short Sentences About Writing"</a> starts with the proposition that what we learn as writers is about as useful as cursive script. It's how a lot of academics and professionals write: dry, polished, and complex (sounding – perhaps convoluted is more appropriate). I think most would agree that these qualities don't hold even a secondary importance in writing; less so still in writing well. Instead, Klinkenborg gives a definition of what he believes being a writer means: crafting sentences.
</p>
<p>
  I can already sense your surprise. Writers write sentences – truly, a revelation. But Klinkenborg asks the reader to make a subtle shift in his view of the sentence:
</p>
<div class="quotation">
  <p>
  You've been taught, too, that writing is the business of depositing meaning to be extracted later, that a sentence is the transcription of a thought, the husk of an idea. <br>
  ... <br>
  We take for granted, as a premise barely worth examining, that changing the words in a sentence – even the order of words – must have an effect on its meaning. And yet we think and read and write as if the fit between language and meaning were approximate <br>
  (Pg. 18)
  </p>
</div>
<p>
  And this is something I love: the idea that a sentence is "not merely a substrate for the extraction of meaning", but rather important in and of itself. That we must also focus on the rhythm, the echoes, and the other subtleties the structure of a string of words can hold. Instead of the writer as an assembly-line, churning out "therefore", "as a result of", and "in conclusion"'s – cookie cutter combinations of letters forming generic sentence-chassis to be deposited with capital-M "Meaning" – Klinkenborg presents the writer as an artisan, carefully crafting each word. In the artisan's eyes, the process and form of the sentence contribute as much to the reader's interpretation as anything else. Or as I like to think of it, there are two types of writers: ones who make IKEA sentences, and <a href="http://en.wikipedia.org/wiki/Tree_shaping">those crazy Pooktre Tree Shapers</a>.
</p>
<h2 class="sectionHead">"How Long is a Good Idea?"</h2>
<p>
  How do we get started crafting our sentences? Klinkenborg suggests starting short. By stripping sentences of unnecessary words, we avoid the filler often associated with thoughtless writing. And this is something I've noticed in most undergraduate prose, my own included: useless transitions, weak constructions, and cliches mixed into a tasteless word mush. In contrast, short sentences provide vibrancy in the form of clarity and relational diversity:
</p>
<div class="quotation">
  <p>
    A single crowded sentence means giving up all the possible relations among shorter sentences – the friction, the tension, the static electricity that builds up between them. A single crowded sentence has only itself to relate to, only an enervated communion among its parts. <br>
    (Pg. 29)
  </p>
</div>
<p>
  Perhaps we write these long sentences for fear that our readers will get lost in the gap between sentences, and would rather they cut through an underbrush of fillers and transitions. More likely we are just very, very, lazy. Regardless, I'll take Klinkenborg's advice and end here, while this post is still short and coherent-ish.

</p>
<%= render 'layouts/articlefooter'   %>
