<% provide(:title, 'Writing') %>
<h1>On Writing</h1>
<p>
  This is a section of my blog devoted to writing and how-to-write: meta, I know. Inspiration for this section came from Klinkenborg's <a href="http://www.amazon.com/Several-Short-Sentences-Writing-Vintage/dp/0307279413">"Several Short Sentences About Writing"</a>, a wonderful book on the art of writing well. The book contains several exercises and noteworthy "short sentences", which I hope to write on and learn from. And from which I hope you'll learn from too.
</p>
<h2 class="date">2014</h2>
<h2 class="date">May</h2>
<div class="articleContainer cl-effect-1">

<a href="/genre_of_the_sentence" class= "articleLink">Genre of the Sentence</a>
</div>