#footer{
  margin-top: 5em;
  p{
    font-family: "Raleway";
    font-size: 12px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 0.4em;
    margin-bottom: 2em;
  }
}

#footerP{
  margin-top: 3em;
  margin-bottom: -3.5em;
  text-align: center;
}