$gray: #524b57;

h1{
  font-family: "Oswald";
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  color: $gray;
  margin-top: 2em;
  margin-bottom: 2em;
}

.quotation{
  text-align: left;
  opacity: 0.6;
  width: 67%;
  margin-left: auto;
  margin-right: auto;
}

.articleDate{
  text-align: center;
  margin-top:-2em;
  margin-bottom: 0em;
}
a{
  color: #9364b4;
}

.images{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
}

.caption{
  margin-top: 0em;
  font-size: 14px;
  opacity: 0.8;
}
#pageHead,
.sectionHead{
  font-family: "Oswald";
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  color: $gray;
  margin-top: 1em;
  margin-bottom: 1em;
}
p{
  width: 46%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Raleway";
  font-weight: 700;
  color: $gray;
  margin-top: 2em;
  font-size: 16.5px;
  line-height: 1.5em;
}
.date{
  font-family: "Oswald";
  font-weight: 200;
  text-align: center;
  color: $gray;
  font-size: 28px;
}

#firstYear{
  margin-top: 1.5em;
}

.articleContainer{
  text-align: center;

}
.articleLink{
  color: $gray;
  display: block;
  text-decoration: none;
  font-size: 16.5px;
  font-family: "Raleway";
  font-weight: 700;
  margin-bottom: 1em;
}

/* Effect: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
  margin-right: 10px;
  font-family: "FontAwesome";
  content: '\f0da';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}



.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
