<!-- Top Navigation -->
<div class="main clearfix">
  <div id="st-trigger-effects" class="column">
    <button id="fall" data-effect="st-effect-13"><i class="fa fa-bars fa-5x"></i></button>
  </div>
  <div id="buttonContainer">
    <button onclick="window.location='/subscribe';" id="subscription"><i class="fa fa-envelope fa-3x"></i>
    </button>
    <p>Subscribe</p>
  </div>
  <a href="/" target="_self">
    <%= image_tag("Logo.png", id: "logo") %>
  </a>
<div id="archContainer">
  <%= image_tag("Line.png", id: "archContainer1") %>
  <%= image_tag("Line.png", id: "archContainer2") %>
  <button onclick="window.location='/archive';" class="btn btn-5 btn-5a icon-cart" id="archive">
    <span>Archive</span>
  </a>
</div>
