<div id="st-container" class="st-container">
  <nav class="st-menu st-effect-13" id="menu-13">
    <h2 class="icon icon-stack">SCRUBLYFE</h2>
    <ul>
      <li><a class="icon icon-data" href="#">On Writing <i class="fa fa-pencil fa-2x"></i></a></li>
      <li><a class="icon icon-location" href="#">On Travel <i class="fa fa-picture-o fa-2x"></i></a></li>
      <li><a class="icon icon-study" href="#">On Food <i class="fa fa-cutlery fa-2x"></i></a></li>
      <li><a class="icon icon-photo" href="#">On Science <i class="fa fa-flask fa-2x"></i></a></li>
      <li><a class="icon icon-photo" href="/about">About <i class="fa fa-user fa-2x"></i></a></li>
    </ul>
  </nav>

  <!-- content push wrapper -->
  <div class="st-pusher">
    <div class="st-content"><!-- this is the wrapper for the content -->
      <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->